* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 40, 101, 0.877);
}

.login-box {
  width: 350px;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #615fd8;
  text-align: center;
  border-radius: 10px;
  box-shadow: -2px 2px 5px #5756c2, 2px -2px 5px #6866e7;
}

.login-box:hover {
  box-shadow: -2px 2px 5px #5756c2, 2px -2px 5px #6866e7,
    inset -2px 2px 5px #5251b8, inset 2px -2px 5px #706df8;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box h2 {
  color: white;
  margin: 20px 0;
  font-size: 20px;
}

.textInp {
  margin: 0 10px 15px;
  padding-bottom: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
}
.textInp::placeholder {
  color: rgba(255, 255, 255, 0.235);
  font-size: 12px;
}

.loginBtn {
  margin: 5px 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  background: none;
  cursor: pointer;
}
